@media screen and (max-width:768px){
    header{
        height:9vh;
    }
    nav {
        position: fixed;
        list-style: none;
        margin: 0.5rem;
        padding: 0;
        background-color: rgba(255, 166, 0);
        border-radius:5%;
        width: auto;
        height:7vh;
        width:100%;
        z-index:9999;
      }
      nav li {
        display: inline-block;
        font-size: 2rem;
      } 
    nav a {
        padding: 0.5rem;
        text-decoration: none;
        color: #0074D9;
        border-radius: 5%;
      }
    
      
    nav a:hover{
        color:#FFFFFF;
        background-color: #0074D9;
        transition:300ms;
        width:10rem;
    }
    .box:hover{
        color:#FFFFFF;
    }
    .profileArea img{
        height:20rem;
        width:auto;
        border-radius:15%;
    }
    h3{
        background-color: rgb(0, 116, 217);
        border-radius: 5%;
        width:auto;
        text-align: center;
        margin:auto;
        color:#FFFFFF
    }
    #mainProj{
        height:15rem;
        align-items: center;
        margin:auto;
    }
    #subProj .box{
        height: 20vh;
    }
    #projects{
        height:auto;
        color: #0074D9;
        width:auto;
        margin-top: 5%;
        
    }
    #proj{
        background-size:cover;
        background-position:center;
    }
    .profileArea{
        display:block;
        margin: auto;
        text-align:center;
        width:100%;
        ;
        
    }
    
    p{
        width:20rem;
        display: inline-block;
        text-align: center;
        margin: auto;
        font-size:1.5rem;
    }
    .contact{
        height:30vh;
    } 
}
@media screen and (min-width:768px){
   

body{
    background-color: #F6F6F6;
}
header{
    
    width:auto;
}
nav{
    position:fixed;
    width:15vw;
    font-size: 3vw;
    z-index:9999;
    color: #FFFFFF;
    height:100vh;
    margin-right:5%;
    
}
nav ul {
    list-style: none;
    margin: 0;
    padding: 0;
    margin-top: 30vh;
    background-color: rgba(255, 166, 0);
    border-radius:5%;
    width: 14vw;
  }
  nav li {
    display: inline-block;
    margin: 0 10px;
    
  } 
nav a {
    padding: 5px;
    text-decoration: none;
    color: #0074D9;
    border-radius: 5%;
  }

  
nav a:hover{
    color:#FFFFFF;
    background-color: #0074D9;
    transition:300ms;
    width:10rem;
}
.profileArea{
    display:block;
    margin: auto;
    text-align:center;
    width:100%;
    margin-bottom: 5vh;
}
.profileArea img{
    height:20rem;
    width:auto;
    border-radius:15%;
}
p{
    width:20rem;
    display: inline-block;
    text-align: center;
    margin: auto;
    
    font-size:1.5rem;
}
#projects{
    height:auto;
    color: #0074D9;
    
    
}
#projects h2{
    text-align:center;
    font-size:36px;
    margin-bottom: 5vh;
}
#contact{
    height:auto;
    color: #0074D9;
    text-align:center;
}
#mainProj{
    height:15rem;
    align-items: center;
    margin:auto;
}

#proj:hover{
    background-color: rgba(0, 0, 0, 0.2);

}
h3{
    background-color: #0074D9;
    border-radius: 5%;
    width:15rem;
    text-align: center;
    margin:auto;
    
}
.box:hover{
    color:#FFFFFF;
}
#proj{
    height:10rem;
    width:auto;
    background-size:cover;
    background-position:center;   
}

.contact{
  height:200px;  
}
}