body{
    background-color: #F6F6F6;
}
header{
    height:80vh;
    width:auto;
    
}
nav{
    position:fixed;
    width:15vw;
    font-size: 3vw;
    z-index:9999;
    color: #FFFFFF;
    height:100vh;
    margin-right:5%;
    
}
nav ul {
    list-style: none;
    margin: 0;
    padding: 0;
    margin-top: 30vh;
    background-color: rgba(255, 166, 0);
    border-radius:5%;
    width: 14vw;
  }
  nav li {
    display: inline-block;
    margin: 0 10px;
    
  } 
nav a {
    padding: 5px;
    text-decoration: none;
    color: #0074D9;
    border-radius: 5%;
  }

  
nav a:hover{
    color:#FFFFFF;
    background-color: #0074D9;
    transition:300ms;
    width:10rem;
}
.profileArea{
    display:block;
    margin:0 auto;
    text-align:center;
    width:100%;
    transform: translateY(40%);
    
}
.profileArea img{
    height:20rem;
    width:auto;
    border-radius:15%;
}
#projects{
    height:auto;
    color: #0074D9;
    
    
}
#projects h2{
    text-align:center;
    font-size:36px;
    margin-bottom: 5vh;
}
#contact{
    height:auto;
    color: #0074D9;
    text-align:center;
}
.apps{
    display: flex;
    flex-direction: row;
    flex-wrap:wrap;
    justify-content: center;
    align-items: center;
}





#refract{
    height:30rem;
    width:auto;
    align-items:center;
    margin:auto;
}
#mainProj{
    height:15rem;
    align-items: center;
    margin:auto;
}

#proj:hover{
    background-color: rgba(0, 0, 0, 0.2); 
}
h3{
    background-color: #0074D9;
    border-radius: 5%;
    width:15rem;
    text-align: center;
    margin:auto;
    
}
.box:hover{
    color:#FFFFFF;
}
#proj{
    height:10rem;
    width:400px;
    
    background-size:cover;
    background-position:center;   
}
#projGen{
    height:10rem;
    width:400px;
    background-image: url('./pass.jpeg');
    background-size:cover;
    background-position:center;
}
#projCal{
    height:10rem;
    width:400px;
    background-image: url('./calendar.jpeg');
    background-size:cover;
    background-position:center;
}
#projCal{
    height:10rem;
    width:400px;
    background-image: url('./calendar.jpeg');
    background-size:cover;
    background-position:center;
}
.contact{
  height:200px;  
}